<h1>About Shinobicit</h1>
<p id="index-title">This is the home page for Shinobicit.</p>
<div class="posts">Post 1 goes here.</div>
<div class="posts">Post 2 goes here.</div>

<section>I am the content in a section element.</section>
<p>Created by: <%= my_name %></p>